*{
	

}

/*---------------------------------------*/

body{
	text-align: center;
}

/*---------------------------------------*/
table tr td{
	border: 1px white solid;
	box-shadow: 3px 3px 3px ;
	position: relative;
	margin-left:200px; 
	margin-right: auto;
	
}

tr:hover{
	background-color: #808080;
}

td{
	width: 600px;
}

/*---------------------------------------*/

#contenu{
	margin: auto;
	display: inline-block;
}

/*----------------------------------------*/

.ticket-view a{
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}


.ticket-view a h4 p{
	margin-left: 30px;

}

/*----------------------------------------*/