body {
    background : #252525;
    font-family: 'Arial';
    color : white;
    margin : 0;
    padding : 0;
    overflow-x: hidden;
    overflow-y: visible;
}

h3 {
	margin-left: 20px;
	font-size : 30px;
}

a {
	color : inherit;
	text-decoration: none;
}

.button {
	width : 200px;
	height : 35px;
	background: white;
	color : black;
	font-family: 'Arial';
	font-size: 20px;
	border : none;
}