main > div {
    display: inline-block;
    width : 500px;
    height : 500px;
    background: #252525;
    box-shadow: 0 0 5px 0 black;
    margin : 20px;
}

main > div h2 {
    text-align: center;
    font-size: 30px;
}

main > div img {
    display: block;
    margin : auto;
    height: 300px;
    width : 300px;
}

main > div h3 {
    margin : 20px;
}

main > div strong {
    margin-left : 20px;
}

main > div button {
    background: none;
    border : solid 2px white;
    border-radius: 10px;
    width : 200px;
    height : 30px;
    color : white;
    font-family: 'Arial';
    font-size: 18px;
    margin-left: 50px;
}

main > div button:hover {
    background: white;
    color : black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin : 50px;
}